:root {
    --nav-height: 105px;
}

@media screen and (max-width: 1024px) {
    :root {
        --nav-height: 66px;
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

button, div, input, label, p, span, a {
    transition: color, background-color linear 0.2s;
}
