:root {
    --nav-height: 105px;
    --nav-height-margin: calc(var(--nav-height) + var(--spacing-xl));
}

@media screen and (max-width: 1024px) {
    :root {
        --nav-height: 77px;
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}

button, div, input, label, p, span, a {
    transition: color, background-color, border-color linear 0.2s;
}

body[data-popup-opened="true"] {
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
